<!DOCTYPE html>
<html>
<head>
    <title>Surf shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include ../partials/navbar %>
    <% include ../partials/flash-message %>
    
    <%-body -%>
</body>
</html>
