<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Include BS4 CDN for development -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Theme Styles -->
    <!-- <link rel="stylesheet" href="/wrapkit/css/style.css" />
  <link rel="stylesheet" href="/wrapkit/css/index-landingpage/landing-page.css" /> -->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstarp.min.css" />
    <script src="https://kit.fontawesome.com/4e2c8ef4bc.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Main Wrapper  -->
    <div id="main-wrapper">
        <div class="container">
            <% include ../partials/navbar %>
            <% include ../partials/flash-message %>
            <%- body -%>
        </div>
        <div class="container">
            <hr>
        </div>
        <!-- Footer  -->
        <div class="footer4 b-t spacer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-30">
                        <h5 class="m-b-20">Address</h5>
                        <p>100 Surf Shop Ln, CA 94051</p>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-30">
                        <h5 class="m-b-20">Phone</h5>
                        <p><a href="tel:+15555555555" class="link">+1 555 555 5555</a></p>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-30">
                        <h5 class="m-b-20">Email</h5>
                        <p><a href="mailto:info@surfshop.wav" class="link">info@surfshop.wav</a></p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="m-b-20">Social</h5>
                        <div class="round-social light">
                            <a href="#" class="link"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="link"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="link"><i class="fab fa-google-plus"></i></a>
                            <a href="#" class="link"><i class="fab fa-youtube"></i></a>
                            <a href="#" class="link"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="f4-bottom-bar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex font-14">
                                <div class="m-t-10 m-b-10 copyright">All Rights Reserved by Surf Shop.</div>
                                <div class="links ml-auto m-t-10 m-b-10">
                                    <a href="#" class="p-10 p-l-0">Terms of Use</a>
                                    <a href="#" class="p-10">Legal Disclaimer</a>
                                    <a href="#" class="p-10">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- /Footer  -->
    </div>

    <!-- Scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>
