<% layout('layouts/boilerplate') -%>

<h4>Forgot password</h4>

<form action="/forgot-password?_method=PUT" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" autofocus>
    </div>
    <div>
        <input type="submit" name="" id="" value="Reset Password">
    </div>
</form>
